.page-archive {
}

.post-posts-wrapper {
    .item {
        width: 50%;
        padding-bottom: 60px;
    }
    @include media-breakpoint-down(sm) {
        .item {
            width: 100%;
            padding-bottom: 20px;
        }
    }
}

.render-posts-loadmore-btn-container {
    padding-top: 40px;
}

.posts-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

    &.has-both-links {
        justify-content: space-between;
    }

    a {
        @extend .btn, .btn-primary;
    }
}
