.single-header {
    text-align: center;
    padding: 0 0 50px 0;

    .img-section {
        padding-bottom: $d-img-padding;
    }

    .date {
        @include br-text(14, 20, 500, $m-b: 0, $c: #a4a8b0);
        padding-bottom: 50px;
    }

    h1 {
        @include br-text(36, 48, 700);
        max-width: 85%;
        margin: 0 auto 20px auto;
        // margin-bottom: 20px;
        // margin-left: auto;
        // margin-right: auto;
    }
    .tags,
    .cats {
        text-align: left;
        padding-top: 20px;
        max-width: 50%;
        display: flex;
        flex-wrap: wrap;
        div {
        }
        a {
            margin-left: 10px;
        }
    }
    .meta {
        display: flex;
        justify-content: space-between;
    }

    @include media-breakpoint-down(sm) {
        padding-bottom: 30px;
        h1 {
            @include br-text(25, 30);
            max-width: unset;
            margin-bottom: 15px;
        }
        .date {
            padding-bottom: 30px;
        }
        .tags,
        .cats {
            flex-direction: column;
            > div {
                width: 100%;
                max-width: 100%;
            }
            &,
            a {
                font-size: 13px;
            }
            a {
                margin-left: 5px;
            }
        }
    }
}
