.related-posts-section {
    padding: 100px 0 20px 0;

    .meta-section {
        display: none !important;
    }

    > h2,
    > .title {
        margin: 0;
        padding: 0 0 40px 0;
    }

    .items {
        display: block !important;
    }

    @include media-breakpoint-down(sm) {
        padding: 50px 0 20px 0;
        .items {
            margin: -7.5px;
        }
        .item {
            padding: 7.5px;
            width: 85% !important;
        }
    }

    .flickity-button {
        border-radius: 0;
        background: red;

        &.next {
            right: 15px;
        }

        &.previous {
            left: 15px;
        }

        &[disabled] {
            display: none;
        }

        svg {
            path {
                fill: #fff;
            }
        }

        @include media-breakpoint-down(sm) {
            display: none !important;
        }
    }
}

.flickity-page-dots {
    display: none;
    bottom: 0;

    .dot {
        transition: all 0.3s;
    }

    .is-selected {
        background-color: $primary;
    }
}
