.btn-text {
    background-color: transparent;
    padding: 0;
    color: $primary;
    &:hover {
        color: $secondary;
    }
}

.btn-primary,
.btn-ghost {
    padding: 10px 28px;
    font-size: 16px;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn-secondary {
    color: #fff;
}

.btn-primary {
    background-color: #e05151;
    border-color: #e05151;
    color: #fff;
}

.btn {
    &:focus,
    &:active {
        box-shadow: none;
        outline: 0;
    }
}
